.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .navbar button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .navbar button:hover {
    background-color: rgb(34, 1, 1);
    color: white;
  }
  